.btn-blue {
  background-color: #1E2F23;
  color: white;
  padding: 10px 10px;
  border-radius: 4px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.btn-blue:hover {
    background-color: #B39C4D;
    color: white;
}

.btn-sponsors {
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 50px;
}

.btn-sponsors:hover {
  opacity: 0.01%;
}
